{
    "presets": [
        [
            "next/babel",
            {
                "styled-jsx": {
					"sourceMaps": false,
                    "plugins": ["styled-jsx-plugin-postcss"]
                }
            }
        ]
    ]
}
